@tailwind base;

@layer base {

  :root {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    @apply bg-[#f8f9fa] text-[#121212];
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body.dark {
    @apply bg-dark text-white; /* Mode sombre */
  }

  div#root {
    height: 100%;
  }
}
@tailwind components;
@tailwind utilities;


